<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Y3884331 -->
      <package
            uri="http://york.ac.uk/cs/eng2/assessment"
            class="assessment.AssessmentPackage"
            genModel="Y3884331.genmodel"/>
   </extension>

</plugin>
