<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated assessment -->
      <package
            uri="http://york.ac.uk/cs/eng2/assessment"
            class="assessment.AssessmentPackage"
            genModel="uk.ac.york.eng2.assessment.y3884331/assessment.genmodel"/>
   </extension>

</plugin>
