<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
    <booleanAttribute key="appendToFile" value="false"/>
    <listAttribute key="defaultFormatters"/>
    <intAttribute key="egxGenerateTo" value="1"/>
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <intAttribute key="generateTo" value="1"/>
    <stringAttribute key="implementation_name" value="Sequential EGX"/>
    <listAttribute key="models">
        <listEntry value="#Thu Jan 18 13:36:27 GMT 2024&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/models/uk.ac.york.eng2.assessment.y3884331.models/example.model&#13;&#10;metamodelUri=http\://york.ac.uk/cs/eng2/assessment&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=true&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=M&#13;&#10;modelUri=platform\:/resource/models/uk.ac.york.eng2.assessment.y3884331.models/example.model&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
    </listAttribute>
    <stringAttribute key="outputDirPath" value=""/>
    <stringAttribute key="outputFilePath" value=""/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="produceTrace" value="false"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/m2t/uk.ac.york.eng2.assessment.y3884331.m2t/ass2java.egx"/>
    <stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
    <stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
